<!--
%\VignetteEngine{knitr::knitr}
%\VignetteIndexEntry{Simulating Power}
-->
<!--begin.rcode, echo = FALSE, results = 'asis'
con <- file('Simulating-power.html', open='r', encoding='UTF-8')
html <- readLines(con)
cat(html, sep='\n')
end.rcode-->
